- @commenters.each do |commenter|
  %p= commenter[:name] + " made " + commenter[:frequency].to_s + " comments"
%p= image_tag @picture
%ol
  - @feed.each do |post|
    %li
      %p= raw post['story'] || post['message'] || post['name']
      %p= "~ #{post['from']['name']}"
    - if post['comments']['count'] > 0
      %ul
        - post['comments']['data'].each do |comment|
          %li
            %p= raw "\"#{comment['message']}\" ~#{comment['from']['name']}"
    